.workArea{
  width:80%;
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
}
.selectBox{
  border: 1px black solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selectorBox{
  display: flex;
  justify-content: center;
  align-items: center;
}